# ==========================================
# Node.js
# ==========================================
**/node_modules/
npm-debug.log*

# ==========================================
# Miljövariabler
# ==========================================
.env

# ==========================================
# Visual Studio Code
# ==========================================
.vscode/

# ==========================================
# Windows
# ==========================================
Thumbs.db
Desktop.ini

# ==========================================
# Loggar och temporära filer
# ==========================================
*.log
*.tmp
*.bak

# ==========================================
# Lokala certifikat (om de används igen)
# ==========================================
certificates/
*.pem
*.key
*.crt